body
  padding: 50px
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif

a
  color: #00B7FF


ul.files
  margin: 0
  padding: 0
  display: block
  li
    display: block
    margin: 0
    padding: .5em 0
    background-color: red
    margin-bottom: 2px
  label
    width: 10em
    display: inline-block
  input[name="time"]
    width: 4em
  input[name="position"]
    display: none
